@font-face {
  font-weight: 400;
  font-family: "hahaha";
  font-style: normal;
  src: url("../fonts/BebasNeue-Regular.woff2") format(woff2), url("../fonts/BebasNeue-Regular.woff") format(woff); }

@font-face {
  font-weight: 700;
  font-family: "open sans";
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff2") format(woff2), url("../fonts/OpenSans-Bold.woff") format(woff); }

@font-face {
  font-weight: 400;
  font-family: "open sans";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format(woff2), url("../fonts/OpenSans-Regular.woff") format(woff); }

body {
  font-family: "bebas neue";
  margin: 0; }

main {
  color: #ffffff;
  margin: -5px; }

button {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3.94008px;
  padding: 16px; }

h2 {
  margin: 0; }

.sitehead {
  position: relative;
  width: 100%;
  height: 571px;
  top: 0;
  left: 0;
  background-image: url("../img/big-yard-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }

.sitehead__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 10px; }

.sitehead__header > h1 {
  margin: 0; }

.menu {
  padding-inline-end: 1%; }

.sitehead__container {
  position: absolute;
  text-align: center;
  left: 11%;
  right: 11%;
  top: 38%;
  bottom: 55%; }

.sitehead__article--bottom {
  position: absolute;
  padding-block-start: 10%;
  padding-inline-end: 78%; }

.masthead__sos {
  background-image: url(../img/big-black-yard.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 689px; }

.masthead__special {
  background-image: url(../img/a-strong-angry-man.png);
  background-repeat: no-repeat;
  background-size: cover; }

.masthead__computer {
  background-image: url(../img/dark-house-with-light.png);
  background-repeat: no-repeat;
  background-size: cover; }

.masthead__think {
  background-color: black; }

.masthead__touch {
  background-image: url(../img/sculpture.png);
  background-repeat: no-repeat;
  background-size: cover; }
