@font-face {
  font-weight: 400;
  font-family: "hahaha";
  font-style: normal;
  src: url("../fonts/BebasNeue-Regular.woff2") format(woff2), url("../fonts/BebasNeue-Regular.woff") format(woff); }

@font-face {
  font-weight: 700;
  font-family: "open sans";
  font-style: normal;
  src: url("../fonts/OpenSans-Bold.woff2") format(woff2), url("../fonts/OpenSans-Bold.woff") format(woff); }

@font-face {
  font-weight: 400;
  font-family: "open sans";
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format(woff2), url("../fonts/OpenSans-Regular.woff") format(woff); }

body {
  font-family: "bebas neue";
  margin: 0; }

main {
  color: #ffffff;
  background-color: black; }

button {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3.94008px;
  padding: 16px; }

.sitehead__heading {
  background-image: url("../img/big-yard-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff; }

.sitehead__heading--main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: 16px;
  color: #ffffff; }

.sitehead__heading--logo {
  margin-block-start: -25px;
  margin-block-end: 0;
  margin-inline-start: 15px; }

.masthead__article {
  text-align: center;
  text-transform: uppercase; }

.masthead__article--heading {
  font-family: "hahaha";
  font-size: 16px; }

.masthead__article--subheading h3:nth-of-type(1) {
  font-size: 14px;
  text-align: center;
  margin-inline-start: 36px;
  margin-inline-end: 35px; }
