.masthead__sos {
    background-image: url(../img/big-black-yard.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 689px;
  }
  .masthead__special {
    background-image: url(../img/a-strong-angry-man.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .masthead__computer {
    background-image: url(../img/dark-house-with-light.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .masthead__think {
    background-color: black;
  }
  
  .masthead__touch {
    background-image: url(../img/sculpture.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  