.masthead__sos {
    background-image: url(../img/big-black-yard.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 689px;
  }
  .masthead__special {
    background-image: url(../img/strong-angry-man.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-start: -20%;
    width: 100%;
    height: 515px;
  }

  .masthead__computer {
    background-image: url(../img/dark-house-with-light.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 719px;
  }
  
  .masthead__think {
    background-color: black;
  }
  
  .masthead__touch {
    background-image: url(../img/sculpture.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 834px;
  }
  