.masthead__computer {
    text-align: center;
}
.computer__header {
    font-size: 14px;
    padding-block-start: 92px;
}

.computer__submheader {
    margin-block-start: -45px;
    padding-inline-end: 30px;
}

.table__menu {
    mix-blend-mode: normal;
} 

.lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline-end: 4rem;
}
.lists li {
    border: 0.504234px solid #979797;
    text-align: start;
}
.lists li span {
    text-align: start;
}

.lists li p {
    margin-inline-end: 1rem;
    margin-inline-start: 1rem;
}

.lists__item1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.lists__item2 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.lists__item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.lists__item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.lists__item5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

  
@media (min-width: $querry) {

}