body {
    font-family: "bebas neue";
    margin: 0;
}

main {
    color: #ffffff;
    margin: -5px;
}

button {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3.94008px;
  padding: 16px;
}
h2 {
  margin: 0;
}
p {
  font-family: "Open Sans";
  font-size: 14px;
}
img {
  max-width: 100%;
}
u {
  text-decoration: #F3AF34;
}