html {
  box-sizing: border-box;
}

body {
  font-family: "bebas neue";
  margin: 0;
}

main {
  color: #ffffff;
  margin: -5px;
}

select {
  background-color: transparent;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}

button {
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 3.94008px;
  border: 0;
  padding: 16px;
}
h3 {
}
h2 {
  margin: 0;
}

p {
  font-family: "Open Sans";
  font-size: 14px;
}
img {
  max-width: 100%;
}
span {
  color: #FFB548;
}

li {
  list-style: none;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

aside {
  text-align: center;
  padding-block-start: 10%;
  padding-block-end: 10%;
}

aside > p {
  padding-block-end: 2rem;
  font-size: 12px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

summary {
  color: #F3AF34;
  text-transform: uppercase;
  font-family: "bebas neue";
  font-size: 36px;
}

summary ~ p {
  color: #ffffff;
}

  
@media (min-width: $querry) {
  body {
    box-sizing: border-box;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 80px;
  }
  main article {
    padding: 4rem;
  }

  figure {
    width: 50%;
    margin: 0;
    padding: 0;
  }

  aside {
    @include flex;
    padding: 0;
}
aside > p {
  margin-inline-start: 4rem;
} 
}