@font-face {
    font-family: "bebas neue";
    font-style: normal;
    font-weight: 700;
    src: url("/webroot/fonts/OpenSans-Bold.woff2") format("woff2"),
        url("/webroot/fonts/OpenSans-Bold.woff") format("woff"),
}