@import "variable";

// @font-face {
//     font-family: "bebas neue";
//     font-style: normal;
//     font-weight: 700;
//     src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
//         url("../fonts/OpenSans-Bold.woff") format("woff"),
// }


$font-face:
    (
        font-family: $font-headings,
        font-weight: 400,
        font-style: normal,
        woff2: url("../fonts/BebasNeue-Regular.woff2") $format2,
        woff1: url("../fonts/BebasNeue-Regular.woff") $format,
    ),
    (
        font-family: "open sans",
        font-weight: 700,
        font-style: normal,
        woff2: url("../fonts/OpenSans-Bold.woff2") $format2,
        woff1: url("../fonts/OpenSans-Bold.woff") $format,
    ),
    (
        font-family: "open sans",
        font-weight: 400,
        font-style: normal,
        woff2: url("../fonts/OpenSans-Regular.woff2") $format2,
        woff1: url("../fonts/OpenSans-Regular.woff") $format,
    )
;

@each $font in $font-face {
    @font-face {
        font-weight: map-get($font, font-weight);
        font-family: map-get($font, font-family);
        font-style: normal;
        src: 
            map-get($font, woff2), 
            map-get($font, woff1);
    }
}
