.heading__footer {
    text-align: center;
    color: #ffffff;
}

.links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-transform: uppercase;
    row-gap: 30px;
}
.navigation ul li a {
    color: #ffffff;
    text-decoration: none;
}

.links li:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
}
.links li:nth-of-type(2) {
    grid-column-start: 2;
    grid-column-end: 3;
}
.links li:nth-of-type(3) {
    grid-column-start: 3;
    grid-column-end: 4;
}
.links li:nth-of-type(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.links li:nth-of-type(5) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline-end: 2rem;
    margin-block-end: 3rem;
    margin-block-start: 3rem;
}

.security {
    text-transform: uppercase;
    font-family: "bebas neue";
}
.footer {
    border-bottom: 0.873968px solid grey;
}

  
@media (min-width: $querry) {
    .heading__footer > img {
        width: 90px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        margin-inline-start: 4rem;
    }
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 700px;
    } 
    .security {
        display: flex;
        flex-direction: row;
        padding-inline-end: 22%;
    }
    .security p {
        margin: 10px;
    }
}