.first__progress,
.second__progress,
.last__progress {
    color: #FFB548;
    font-size: 21px;
}

.second__progress{
    padding-block-end: 10%;
    padding-block-start: 10%;
}
  
@media (min-width: $querry) {

}