.sitehead {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(../img/big-yard-photo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  margin-block-end: 0;
}

#lang > option {
  display: block;
  background-color: black;
  border-radius: 3px;
  border: none;
}
  
  .sitehead__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 10px;
  }
  .sitehead__header > h1 {
    margin: 0;
  }
  .language-selector {
    margin-inline-start: 50%;
    border-inline-end: 2px solid grey;
    height: 30px;
    padding-inline-end: 30px;
  }
  .menu {
    padding-inline-end: 5%;
  }
  
  .sitehead__container {
    text-align: center;
    padding-inline-end: 100px;
    padding-inline-start: 20px;
    padding-block-start: 130px;
    padding-block-end: 200px;
  }
    
  .sitehead__article--bottom {
    position: absolute;
    padding-inline-end: 200px;
    margin-block-start: 120px;
    padding-inline-start: 20px;
  }
  .heading {
    font-size: 33px;
  }
  .sitehead__article--subheading {
    font-size: 18px;
  }

  .header__lists {
    display: none;
  }
  [type="checkbox"] {
    display: none;
  }
  .header__icons {
    display: none;
  }
  [type="checkbox"]:checked ~ .header__lists {
    display: block;
    width: 250px;
    background-color: beige;
  }
  option {
    background-color: grey;
  }

  @media (min-width: $querry) {
    .sitehead{
      text-align: center;
    }
    .sitehead__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 3rem;
    }
    .menu {
      display: none;
    }
    .header__lists {
      display: flex;
      flex-direction: row;
      width: 0px;
      margin: auto;
      justify-content: space-between;
    }
    .header__lists--items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
    }
    .header__lists--items li {
      width: max-content;
      margin-inline-end: 6rem;
    }
    .header__lists--items > li a {
      list-style: none;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
    }
    .header__icons {
      display: none;
    }

    .sitehead__article--bottom {
      text-align: center;
      display: inline-block;
    }

    .sitehead__container {
      margin-block-start: 10rem;
    }
    .sitehead__container h2 {
      font-size: 80px;
    }

    #story {
      margin-inline-start: -5rem;
    }
    .sitehead__article--subheading > h3 {
      font-size: 24px;
    }

    .header__icons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }

  
  .header__icons a {
    margin-inline-end: 2rem;
  }

  }
  