.masthead__article {
  padding-inline-start: 20px;
}

.header__sos {
  padding-block-start: 30px;
  font-size: 18px;
}

.masthead__article--subheading {
  font-size: 33px;
}

.subheading {
  border-block-end: 1px solid white;
  padding-block-end: 20px;
}

.description {
  margin-inline-start: 36.48px;
  padding-block-end: 20px;
  padding-inline-end: 50px;
}

u {
  text-decoration: #F3AF34;
  border-bottom: #F3AF34 2px solid;
}

  
@media (min-width: $querry) {
  .masthead__sos {
    display: flex;
    flex-direction: row;
  }
    .description {
    width: 50%;
    margin-inline-start: 30%;
  }
}