.special {
    padding-inline-start: 39%;
    padding-block-start: 12%;
}
.special__header {
    margin-block-end: -40px;
}
 
@media (min-width: $querry) {
    .special {
        padding-block-start: 10%;
        padding-inline-start: 59%;
    }
    .special__header {
        margin: 0;
    }
    .special__subheading {
        margin-top: -5rem;
    }
}