.touch {
    margin-inline-start: 40%;
    margin-inline-end: 10%;
    padding-block-start: 22%;
}

.touch__sub {
    margin-block-start: -45px;
}

.buttons {
    margin-inline-end: 10%;
}

.touch__button {
    // width: 100%;
}

.inputBtn {
    background: rgba(255, 255, 255, 0.10);
    border-radius: 3px;
    margin-block-start: 49%;
    padding: 10px;
    text-align: start;
}

.inputBtn > input {
    border: none;
    color: #FFB548;
    background: rgba(255, 255, 255, -0.92);
}

.inputBtn > label {
    // margin-inline-start: -60px;
    color: #FFFFFF;
    opacity: 0.5;
}