$format: format(woff);
$format2: format(woff2);
$font-headings: "hahaha";
$querry : 1440px;


@mixin flex() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
